<div class="container">

        <div>
                <div class="container">
                    <div class="text-center">
                        <h1>Angular 8 - Pagination Example </h1>
            
                       
            
                        <!-- pager -->
                        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                            <li  class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                                <a  class="page-link"  (click)="setPage(1)">First</a>
                            </li>
                            <li  class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                                <a  class="page-link"  (click)="setPage(pager.currentPage - 1)">Previous</a>
                            </li>
                            <li class="page-item"  *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                                <a  class="page-link" (click)="setPage(page)">{{page}}</a>
                            </li>
                            <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                <a  class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
                            </li>
                            <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                <a  class="page-link"  (click)="setPage(pager.totalPages)">Last</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>



        <div class="row">
               
            
     <h2>{{title}}</h2>


        <table class="table table-hover table-striped table-bordered ">
        <thead>
        <tr>
                <th>USER ID</th>
                <th>TODOS ID</th>
                <th>TITLE</th>
                <th>COMPLETED</th>
               
               


        </tr>
        </thead>
        <tbody>
        <tr  *ngFor="let p of pagedItems">
                <td>{{p.userId}}</td>
                <td>{{p.id}}</td>
                <td>{{p.title}}</td>
                <td>{{p.completed}}</td>
                
                
        </tr>
        </tbody>
        
        </table>
        
        
        </div> 
        
        
        </div>
