<div class="container">
<h3>{{title}}</h3>

<div align="right"   [ngClass]="'A B C D'"  >
  Time :{{time|async}}
</div>


<input type="checkbox"  [(ngModel)]="show"/> Show/Hide Color List


<div class="jumbotron"  *ngIf="show; else invalid"   [ngClass]="['A','B','C','D']" >
  My Favourate colors 
  <ul>
   <li    *ngFor="let c of colors"   [ngStyle]="{'color':c}"  >  {{c}} </li>
  </ul>
</div>

<ng-template  #invalid>
<div class="bg-success">
    Don't display the colors
</div>
</ng-template>


<div class="jumbotron"   [ngClass]="{'A':show,'B':hide,'C':show,'D':hide}">
Select day :<input type="number"  [(ngModel)]="day"   min="{{min}}"  [max]="max">:{{day}}


<div   [ngSwitch]="day">
        <div  *ngSwitchCase="1"> MONDAY</div>
        <div  *ngSwitchCase="2"> TUESDAY</div>
        <div  *ngSwitchCase="3"> WEDENESDAY</div>
        <div  *ngSwitchCase="4"> THURSDAY</div>
        <div  *ngSwitchCase="5"> FRIDAY</div>
        <div  *ngSwitchCase="6"> SATURDAY</div>
        <div  *ngSwitchCase="7"> SUNDAY</div>
        <div  *ngSwitchDefault> Sorry I don't know what day it is?</div>
</div>

</div>
  

<input  type="button"  value="Show/Hide employee"  class="btn btn-info"   (click)="showHide()"/>


<div  *ngIf="hide"  class="jumbotron">
        Employee Details => {{employee}}
        <hr/>
        Employee Details => {{employee|json}}
        <hr/>

        <pre>
                Employeee  Id                :{{employee.id}}     => {{employee['id']}}
                Employeee  Name              :{{employee.name}}   => {{employee['name']}}
                
                Employeee  Name              :{{employee.name|titlecase}}
                Employeee  Name              :{{employee.name|uppercase}}
                Employeee  Name              :{{employee.name|lowercase}}
                
                Employeee  Salary            :{{employee.salary}}
                Employeee  Salary            :{{employee.salary|number:'8.4-4'}}
                Employeee  Salary            :{{employee.salary|currency:'INR'}}

                Employeee  Variable          :{{employee.variable}}
                Employeee  Variable          :{{employee.variable|percent}}
                
                Employeee  Pan               :{{employee.pan}}
                Employeee  Pan               :{{employee.pan|uppercase|slice:0:2}}XXXXXX{{employee.pan|uppercase|slice:8:10}}
                
                
                Employee  Mobile            :{{employee.mobile}}
                Employee  Mobile            :XXXXXXXX{{employee.mobile|slice:8:10}}
                

                Employeee  doj               :{{employee.doj}}
                Employeee  doj               :{{employee.doj|date}}
                Employeee  doj               :{{employee.doj|date:'shortDate'}}
                Employeee  doj               :{{employee.doj|date:'mediumDate'}}
                Employeee  doj               :{{employee.doj|date:'longDate'}}
                Employeee  doj               :{{employee.doj|date:'fullDate'}}
                Employeee  doj               :{{employee.doj|date:'dd-MM-yyyy'}}


                Employeee  doj               :{{employee.doj|date:'shortTime'}}
                Employeee  doj               :{{employee.doj|date:'mediumTime'}}
                Employeee  doj               :{{employee.doj|date:'longTime'}}
                Employeee  doj               :{{employee.doj|date:'fullTime'}}
                Employeee  doj               :{{employee.doj|date:'hh:mm:ss'}}


                Employeee  doj               :{{employee.doj|date:'short'}}
                Employeee  doj               :{{employee.doj|date:'medium'}}
                Employeee  doj               :{{employee.doj|date:'long'}}
                Employeee  doj               :{{employee.doj|date:'full'}}
                Employeee  doj               :{{employee.doj|date:'dd-MMM-yyyy hh:mm:ss'}}
                
            <hr/>
            
            <ul>
                <li *ngFor="let e of employee|keyvalue ">  {{e.key}}   =>   {{e.value}}</li>
            </ul>
            




                
                
                
                 
             



        </pre>










</div>




</div>